.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameboard {
    width: 500px;
    height: 500px;
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px
}

#gameboard > div {
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;


}